/* Force head, body, and p text to be white */
body, p, h1, h2, h3, h4, h5, h6 {
    color: rgb(8, 243, 40);
}

/* Force all links to be white */
a {
    color: rgb(8, 243, 40);
}

/* Force all text to be center aligned */
body, p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* Make body text larger */
body {
    font-size: 2.5em;
}

